@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.body {
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
    text-align: justify-all;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
    /* Never get smaller than this */
    font-size: 14px;
}
@media (min-width:350px) {
    body {
        font-size: 12px;
    }
}

@media (min-width:600px) {
    body {
        font-size: 16px;
    }
}

@media (min-width:800px) {
    body {
        font-size: 18px;
    }
}

@media (min-width:1000px) {
    body {
        /* Never get larger than this */
        font-size: 20px;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    background: black;
    opacity: 0.7;


}


.slides-navigation .prev,
.slides-navigation .next {
    opacity: 0.4;
    padding: 7px;
    transform: translateY(100%);
}

.slides-navigation a {
    text-decoration: none;

}
.slides-navigation a:hover {
    color: grey;
}

.slides-navigation {
    z-index: 6;

}

.titleMessage {
    z-index: 5;
    position: absolute;
    height: 250px;
    top: 46%;
    width: 100%;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading  {
    color: white;
    text-shadow: 0px 2px 5px rgba(0,0,0, 0.4);
    letter-spacing:10px;
}

.titleMessage .main {
    font-size: 3em;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;

}

.titleMessage .sub span {
    font-size: 1.5em;
    font-family: monospace;
}

.section {
    padding: 100px 0;
    background-color: #ecf0f1;

}

.aboutImage {
    max-width: 100%;
}

.skillsSection,
.contactSection {
    background-color: #f39c12;
    color: white;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #1abc9c;
    line-height: 152px;
    diplay: inline-block;
    font-size: 2em;
}

.chart .percent:after {
    content: '%';
}

.skill h4 {
    margin-top: 15px;
}

.skil p {
    margin-bottom: 10px;
}

.owl-dots {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.owl-nav { display: block !important; }

.owl-prev, .owl-next {

    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;

}

.fa {
    font-size: 1.5rem;
    color: white;
    opacity: 0.6;
}
.owl-prev { left: 5px; }
.owl-next { right: 5px; }

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;

}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;

}

.squareInnerContainer:before {
    right: 0px;

}



.squareInnerContainer:after {
    left: 0px
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #f39c12
}

.squareContent h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40px;
    height: 60px;
    font-size: 45px;
    margin-left: -20px;
    color: #444;

}

a.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;



}

a.contactButton:hover {
    background-color: white;
    color: #f39c12;
    text-decoration: none;
    -webkit-transition: all 0.2s linear, 0.5s;
    -moz-transition: all 0.2s linear, 0.5s;
    -o-transition: all 0.2s linear, 0.5s;
    -ms-transition: all 0.2s linear, 0.5s;
    -transition: all 0.2s linear, 0.5s;
}

@bg: #2d2d37; // Dark blue
@primary: #fd6b21; // Orange

                      body { background: @bg;}
a { color: white; text-decoration: none; }

.arrow {
    text-align: center;
    margin: 8% 0;
    position: absolute;
    bottom: 0;
    z-index: 9;
    margin-bottom: 10px;
    width: 100%;
    opacity: 0.5;
    font-size: 0.8rem;
}
.bounce {
    -moz-animation: bounce 2.2s infinite;
    -webkit-animation: bounce 2.2s infinite;
    animation: bounce 2.2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.flash {
    -moz-animation: flash 2s infinite;
    -webkit-animation: flash 2s infinite;
    -ms-animation: flash 2s infinite;

}

@keyframes flash {
    0% { color: transparent; }
    50% { color: #fff; }
    100% {color: transparent; }
}

@-webkit-keyframes flash {
    0% {
        color: transparent;
    }
    50% {
        color: #fff;
    }
    100% {
        color: transparent;
    }
}
@-moz-keyframes flash {
    0% { color: transparent; }
    50% { color: #fff; }
    100% {color: transparent; }
}

@-ms-keyframes flash {
    0% { color: transparent; }
    50% { color: #fff; }
    100% {color: transparent; }
}

.avatar {
    z-index: 27;
    bottom: 25%;
    position: relative;

}
.avatar img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 5px solid #ddd;
}
.social-media-icons {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    z-index: 9;
    width: 100%;
    color: white;
    opacity: 0.8;
    font-size: 1.4em;
    letter-spacing: 10px;
}

.social-media-icons a {
    text-decoration: none;
}
.social-media-icons a:hover {

    color: grey;
}

.filter a {
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter a:hover {
    text-decoration: none;
    background-color: #f39c12;
    opacity: 0.8;
    color: white;

}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}
.items li {
    display: inline-block;
    padding: 5px;
}
.items li img {
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;

}

.items-container {
    width: 100%;
}
.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    font-size: 20px;
    margin-top: 9px;
    color: white;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #f39c12;
    position: relative;
    display: inline-block;
    opacity: 0.8;

    -webkit-transition: all 0.2s linear, 0.3s;
    -moz-transition: all 0.2s linear, 0.3s;
    -o-transition: all 0.2s linear, 0.3s;
    -ms-transition: all 0.2s linear, 0.3s;
    -transition: all 0.2s linear, 0.3s;
}

.imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;


}
.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}
.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
 }
.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}
.items {
    padding: 0;
}

.copyright-section {
  background-color: #222222;
    color: lightgray;
    padding: 30px 5px;
    font-size: 0.7em;

}
.copyright-section p {
    margin: 0;
}

#navigation {
    background-color: #f39c12;
    padding: 20px 10px;
    z-index: 100;
    opacity: 0.9;
    width: 100%;


}

#navigation li {
    padding: 0 10px;
    font-size: 0.1em;


}
#navigation li a {
    color: #bdc3c7;

}
.navbar-brand,
.navbar-brand:hover {
    color: white;
    font-size: 1.5em;
    font-family: 'Satisfy';
    color: #d54e53;
    margin-right: 30px;

}
.navbar-nav a:hover,
.navbar-nav a {
    color: white;
    font-size: 0.9em;

}

.navbar-toggler-icon i {
    color: white;
    font-size: 25px;
    margin-top: 3px;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;

}
.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../Assets/loader.svg) center center no-repeat;
}