.body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
    text-align: justify-all;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: black;
    opacity: 50%
}


.slides-navigation .prev,
.slides-navigation .next {
    opacity: 30%;
    padding: 20px;

}

.slides-navigation {
    z-index: 6;
}

.titleMessage {
    z-index: 5;
    position: absolute;
    height: 250px;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: white;
    text-shadow: 0px 2px 5px rgba(0,0,0, 0.4);
    font-weight: 200;
    letter-spacing:10px;
}

.titleMessage .main {
    font-size: 4rem;
}

.titleMessage .sub {
    font-size: 2em;
}

.section {
    padding: 100px 0;
    background-color: #ecf0f1;


}

.aboutImage {
    max-width: 100%;
}

.skillsSection {
    background-color: #f39c12;
    color: white;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #1abc9c;
    line-height: 152px;
    diplay: inline-block;
    font-size: 2em;
}

.chart .percent:after {
    content: '%';
}

.skill h4 {
    margin-top: 15px;
}